/* .content{
    text-align: center;
}
.form-control{
    margin:auto;
    width: 30%;
}
#search{
    margin-top:10px;
    background-color: #F26925;
    color:white;
    width:30%;
    font-family:"Overpass",sans-serif;
    font-weight:bold;
    font-size:22px;
    border-radius:27px;
    letter-spacing:1px;
    height:45px;
    display:inline-block;
    
}
 
#search:hover{
    background-color:white;
    color:#F26925;
    border: 2px solid #F26925;
    border-radius: 22px ;
    font-family:"Overpass",sans-serif;
    font-size:23px;
}
#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    
  }
#wrapper {
    width: 500px;
    border: 1px solid black;
    background-color:rgb(43, 15, 15)
}
#side1 {
    width: 400px;
    float:left; 
    padding-left: 250px;
}
#side2 {
    background-color:white;
    padding-left: 300px;
} */
#gmap { 
    height: 369px; 
}
.googleapi {
 
}
#map{
}
/* .col{
    margin-right: 3%;
} */
.btn-outline-secondary{
    font-size:14px;
}
/* table {
    /* margin: auto;
    padding-left: 2px; */
    /* flex: 0 0 100% !important;
  }  */

/* mat-cell {
    padding: 1%;
} */

/* td.mat-cell:first-of-type {
    padding: 1px;
}

td.mat-cell:last-of-type {
    padding: 1px;
}

.col-lg-6 {
    padding: 1px;
} */

table {
    width: 100%;
    table-layout: flex;
  }

  .mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 30% !important;
    width: 30% !important;
  }

  .mat-column-view {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    text-align: center;
  }

  .mat-column-spots {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    text-align: center;
  }

  .mat-column-time {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 35% !important;
    width: 20% !important;
  }

  .mat-column-distance {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important; 
    width: 20% !important;
  }
  
  th, td {
    overflow: hidden;
    /* width: 200px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    
  }

  th {
      background-color: black;
      color: whitesmoke;
      font-size: 24px;
  }

  td {
    font-size: 20px;
  }