<div class=" justify-content-between ml-5 mr-5">
  <div class="row">
    <div class="col-lg-7">
      <!--<div class="form-group">
        <h4>Origin</h4>
        <input [(ngModel)]="origin" id="origin" class="form-control" placeholder="Morgantown, WV"/>
      </div>
      <div class="form-group">
        <h4>Destination</h4>
        <input [(ngModel)]="destination" id="destination" class="form-control" placeholder="Reston, VA"/>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button id = "search" class="btn btn-primary" (click)="getDirection()">Get Direction</button>
        </div>
      </div>
      <p id="total"></p>-->
      <h4>Driver's List</h4>

      <!-- <table class="table table-striped" >
       <thead class="thead-dark">
         <tr>
           <th scope="col">Name</th>
           <th scope="col">Distance</th>
           <th scope="col">Time</th>
           <th scope="col">View Info</th>
         </tr>
       </thead>
       <tbody id="output"></tbody>
      </table> -->
      <mat-form-field>
        <mat-label>Filter ALL</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Name/Number">
      </mat-form-field>
      <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
        <mat-label>Filter {{filter.name}}</mat-label>
        <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
           (change)="filterChange($event.target.value)">
          <option value="">-- Select {{filter.name}} --</option>
          <option [value]="item" *ngFor="let item of filter.options">{{item | distanceConversion: 'M-MI':0 }}</option>
        </select>
      </mat-form-field>
      <div class="mat-elevation-z24 unicorn-dark-theme">
        <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
          <mat-spinner></mat-spinner>
        </div> -->

        <table mat-table [dataSource]="dataSource" matSort matSortDisableClear class="justify-content-center table-striped" matSortActive="distance" matSortDirection="asc">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Distance Column -->
          <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance </th>
            <td mat-cell *matCellDef="let element"> {{element.distance | distanceConversion: 'M-MI':0 }}
            </td>
          </ng-container>

          <!-- Time Column -->
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
          </ng-container>

          <ng-container matColumnDef="seats">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Seats </th>
            <td mat-cell *matCellDef="let element"> {{element.seats}} </td>
          </ng-container>

          <!-- <ng-container matColumnDef="spots">
            <th mat-header-cell *matHeaderCellDef> Total Seats </th>
            <td mat-cell *matCellDef="let element"> {{element.totalseats}} </td>
          </ng-container> -->

          <!-- View Column -->
          <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef> View Info </th>
            <td mat-cell *matCellDef="let element"> {{element.view}}
              <button mat-flat-button type="button" class="btn btn-primary" data-toggle="modal"
                [attr.data-target]="'#exampleModalCentered' + element.id" color= "warn">View</button>
              <div class="col-lg-5">
                <div class="modal" [id]="'exampleModalCentered' + element.id" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredLabel">Contact Info:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h1>{{element.name}}</h1>
                        <h3>Email: {{element.email}}</h3>
                        <h3>Phone: {{element.phone}}</h3>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-card class="unicorn-dark-theme" *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
          <mat-progress-spinner color="warn" mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>
      </div>

      <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[1, 3, 5, 10, 25, 50]">
      </mat-paginator>
    </div>
    <div class="col-lg-5">
      <h4>Directions:</h4>
      <div #map id="gmap" class="img-responsive"></div>
    </div>
  </div>
</div>